node_modules
.nuxt
.output
dist
.env
*.local
.DS_Store
.netlify
.vercel
coverage
playwright-report
test-results
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
